<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>log-in page</title>
        <link rel="stylesheet" href="/css/loginStyle.css">
    </head>
    <body>
        <div class="login-container">
            <form action="/auth/login" method="post">
                <input type="text" name="username" placeholder="ID 입력" required="required">
                <input type="password" name="password" placeholder="PW 입력" required="required">
                <button>로그인</button>
            </form>
        </div>
    </body>
</html>